html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dongle',
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:rgb(15, 22, 36);
  color:rgb(242, 245, 247);
  ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
